<!--
<div class="container">
    <h1>Add a bookmark</h1>
    <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.association :movie, label: "Select a movie" %>
    <%= f.input :comment, label: "Comment your bookmark" %>
    <%= f.submit %>
<% end %>
</div>
-->