.funny-title {
  font-family: Ranchers;

  .big {
    font-size: 24px;
    color: $title-orange;
  }
  .medium {
    font-size: 20px;
    color: lightseagreen;
  }
  .small {
    font-size: 14px;
    color: lightseagreen;
  }
}